<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <h1>------- Tela de resgitro de dados -------</h1>
    <form action="/home/form/saida" method="GET">
        <h2>Dados pessoais</h2>
        <h3>Nome completo:</h3>
        <input type="text" id="inputName" name="name" placeholder="Albert Lucas..." required />
        <h3>Telefone:</h3>
        <input type="tel" id="inputTelefone" name="telefone" placeholder="88911112222" maxlength="15" required />
        <h3>Endereço:</h3>
        <input tyype="text" id="inputAdress" name="adress" placeholder="Rua joão Pessoa, 001" required /> 
        <br />
        <button type="Submit">Enviar</button>
        <br/> <br/>
    </form>
</body>

</html>