<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <h1>------- Tela de Perfil -------</h1>
    <br />
    <h2>Seus dados:</h2>

    <p><strong>Nome:</strong> <span id="nomeExibido"></span></p>
    <p><strong>Telefone:</strong> <span id="telefoneExibido"></span></p>
    <p><strong>Endereço:</strong> <span id="enderecoExibido"></span></p>


    <a href="http://localhost:3000/home/form"><--</a>


    <script>
        const urlParams = new URLSearchParams(window.location.search);

        const nome = urlParams.get('name');
        const telefone = urlParams.get('telefone');
        const address = urlParams.get('address');

        document.getElementById("nomeExibido").textContent = nome || "Não informado";
        document.getElementById("telefoneExibido").textContent = telefone || "Não informado";
        document.getElementById("enderecoExibido").textContent = address || "Não informado";
    </script>
</body>

</html>